
.branding {
  margin-top: 300px;
  float: right;
  width: 200px;
  height: 100px;
}

.version {
  position: absolute; 
  top: 13px;
  right: 13px;
  border-radius: 13px;
  background: #E5E5E5;
  padding: 20px;
  width: 133px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  font-weight: bolder;
  
}
